body {
    border: 20px solid #bdc3c7;
    width: 50%;
    height: 1000px;
    /* padding: 50%; */
    margin: 20px 25% 20px 25%;
    font-family: Source Sans Pro;
}

h2 {
    font-size: 3.0em;
    padding-left: 20px;
    margin: 20px 0;
}

div {
    border-bottom: 1px solid #bdc3c7;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 96%;
}

p {
    font-size: 1.2em;
    font-weight: 600;
}

div p:nth-of-type(1) {
    /* margin-left: 20px; */
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

#date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    padding-left: 20px;
}

