td {
    width: 100px;
    height: 100px;
}

table {
    margin: 0 auto;
}

 td.topdown {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

td.leftright {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
} 

h1 {
    text-align: center;
}
