body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: #3369b9;
}

p {
    background: yellow;
}

input {
    border: 3px red solid;
}

.hello {
    background: white;
}

#special {
    border: 2px solid rgb(100, 100, 200);
}

div p {
    font-size: 25px;
}

input[type='text'] {
    background: grey;
}

div:nth-of-type(3) p {
    background: pink;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 5px solid white;
}

div:nth-of-type(3) em {
    color: white;
    font-size: 20px;
}

input:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase;
}

#special::first-letter {
    color: green;
    font-size: 100px;
}

h1:hover {
    color: blue;
}

a:visited {
    color: grey;
}