p {
    /* Content: width and high */
    width: 50%;

    /* Border */
    border: 2px solid red;

    /* Padding */
    /* padding: 20px; */
    padding-left: 20px;

    /* Margin */
    /* margin: 20px 40px 100px 40px; */
    margin: 0 auto; /* gdy kolejna para jest taka sama można ją pominąć*/
}