/* font-family */

p {
    font-family: Raleway;
}

h1 {
    font-family: Indie Flower;
}

/* font-size */

body {
    font-size: 10px;
}

h1 {
    font-size: 5.0em;
}

p {
    font-size: 2.0em;
}

span {
    font-size: 2.0em;
}

/* font-weight */

p {
    font-weight: bold;
    /* font-weight: 700; */
}

/* line-height */

p {
    line-height: 1.5;
}

/* text-aling */ 

h1 {
    text-align: center;
}

p {
    text-align: center;
}

/* text-decoration */

h1 {
    text-decoration: line-through;
}

p {
    text-decoration: underline;
    text-decoration-color: brown;
}