h1 {
    color: #FF0000;
    border: 5px solid purple;
}

li {
    color: rgba(0, 200, 100, 1);
    /*last variable = transparent */
}

h4 {
    color: rgb(68, 0, 100) ;
    background-color: rgb(255, 100, 80);
}

body {
    background-color: #233232;
    /* background: url(https://hypb.imgix.net/image/2018/03/avengers-infinity-war-record-advanced-ticket-sales-0202.jpg?q=75&w=1000&fit=max&auto=compress%2Cformat); */
    /* background-repeat: no-repeat; dont repeat */
    /* background-size: cover; cover all page with image */
}