/* Element */
li {

}
/* class */
.hello {

}
/* id */
#name {

}
/* Start */
* {
    margin: 0;
    border: 1px solid grey;
}
/* Descendant Selector */
li a {
    color: red; 
}
/* Adjacent Selector */
h4 + ul {
    border: 4px solid blue;
}

h1 + a {
    color: orange;
}
/* Attribute Selector */
a[href="http://www.google.com"] {
    background: blue;
}

/* nth of type */
/* This select only second li in every li group */
/* To add every even or odd nr. type even or odd */
 li:nth-of-type(2) {
     background: #978f8f;
 }